VITE_API_BASE_URL=/api
VITE_DEV_API_PROXY_TARGET=http://127.0.0.1:8080
VITE_MAP_MODE=raster
VITE_MAP_RASTER_TILE_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png
VITE_MAP_PMTILES_URL=/maps/tianjin.pmtiles
VITE_MAP_GLYPHS_URL=/maps/assets/fonts/{fontstack}/{range}.pbf
VITE_MAP_SPRITE_URL=/maps/assets/sprites/v4/light
VITE_MAP_DEFAULT_LONGITUDE=117.7008
VITE_MAP_DEFAULT_LATITUDE=39.0321
VITE_MAP_DEFAULT_ZOOM=13
VITE_MAP_MAX_ZOOM=18
